<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ShineFix</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="moto-box">
                <p>Our site will be available soon!</p>
            </div>
            <div class="shinefix"></div>
            <div class="info-box">
                <p><span>email:</span> shinefix.usa@gmail.com</p>
                <p><span>phone:</span> 7546107136</p>
            </div>
        </div>
    </body>
</html>
